.option-component .btn {
    background-color: #efefef;
    width: 100%;
    border-radius: 3px;
}
.option-component {
    width: 50%;
    margin: auto;
}
.option-component .chosen-button-icon {
    height: 40px;
    width: 40px;
    margin-top: 2px;
}
.option-component .chosen-button {
    background-color: #3ac4c9!important;
}
.active {
    background-color: blue;
}
.option-img {
    width: 100%;
    height: 100%;
}
.option-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.setLabelHeight {
    height: 112px !important;
    overflow: hidden;
}
.question-title {
    margin: 10px 0;
}
.question-title h1{
    font-size: 26px;
    font-weight: 700;
}
.question-title h4 {
    font-size: 22px;
}
.checked {
    background-color: blue;
}